.tag {
    border-radius: 10px;
    background-color: #FF6060; 
    color: white;
    padding: 2px 35px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap; 
}