.accordeon {

    .accordeon-title {
        background: #FF6060;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-radius: 5px; 
        
        img {
            transition: transform .5s linear;
        }
        
        button {
            background: transparent;
            border: none;
            outline: none;
        }
    }

    .accordeon-content {        
        text-align: left;
        background: #F6F6F673;
        border-radius: 5px;        
        height: 0;
        overflow: hidden;
        box-sizing: border-box;
        transition: height .5s ease-in-out;

        .accordeon-children {
            padding: 20px 25px;
        }

        ul {
            padding: 0;
            list-style: none;
            margin: 0;
        }

        p {
            margin: 0;
        }
    }

    &.open {

        .accordeon-title img {
            transform: rotate(180deg);            
        }
    }


}