.logement-page {
  padding-top: 50px;
}

.accordeons-logement {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 769px) {
      gap: 76px;
      flex-wrap: nowrap;
    }
   
    .accordeon {
        margin-bottom: 28px;
        width: 100%;

        @media screen and (min-width: 769px) {
          width: 50%;          
        }
    }
    .accordeon-title {
        background: #FF6060;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-radius: 5px; 
        
        img {
            transition: transform .5s linear;
        }
        
        button {
            background: transparent;
            border: none;
            outline: none;
        }
    }

    .accordeon-content {        
        text-align: left;
        background: #F6F6F673;
        border-radius: 5px;        
        height: 0;
        overflow: hidden;
        box-sizing: border-box;
        transition: height .5s ease-in-out;

        .accordeon-children {
            padding: 20px 25px;
        }

        ul {
            padding: 0;
            list-style: none;
            margin: 0;
        }

        p {
            margin: 0;
        }
    }

    &.open {

        .accordeon-title img {
            transform: rotate(180deg);            
        }
    }


}

.tags {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 10px 0;
  }
.DescriptionLogement {
    display: flex;
}

.logementGlobal {
    display: flex;
    flex-direction: column;
}



.logement-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  
    .location {
      font-size: 1.2rem;
      margin-bottom: 10px; 
      text-align: left;
    }
  
    .tags {
      display: flex;
      gap: 10px;
      list-style: none;
      padding: 0;
      margin: 0 0 10px 0; 
    }

    .rating {
      justify-content: flex-end;
    }

  
    .host-info {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-right: 0;
      margin-left: auto;

      @media screen and (min-width: 769px) {
        margin-bottom: 30px;
      }

  
      p {
        margin-right: 10px;
        color: #FF6060;
        font-size: 20px;
      }
  
      .host-picture {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .left {
      width: 100%;
    }
    
    .right {
      width: 100%;
      display: flex;

      @media screen and (min-width: 769px) {
        display: block;
      }
    }

    .rating {
      order: -1;
    }

    @media screen and (min-width: 769px) {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
  }
  
  h1 {
    color: #FF6060;
    font-size: 35px;
    text-align: left;
    font-weight: 500;
  }

 