@font-face {
  font-family: Montserrat;
  src: url('./assets/fonts/Montserrat/Montserrat-Medium.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Montserrat;
  src: url('./assets/fonts/Montserrat/Montserrat-Regular.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Montserrat;
  src: url('./assets/fonts/Montserrat/Montserrat-Bold.ttf');
  font-weight: 700;
}

:root {
  font-family: Montserrat, sans-serif;
  line-height: 1.5;
  font-weight: 500;
}

a {
  color: black;


  &.active {
    text-decoration: underline;
  }
}


body {
  margin: 0;  
  padding-bottom: 150px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}